<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/contentSetting.css}" href="../../css/contentSetting.css}" rel="stylesheet" type="text/css" media="all"/>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script></head>
<link th:href="@{/https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap}" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
</script>
</head>
<body>
<th:block th:include="/navbar2"></th:block>
<div class="container">
    <h3>Say Something to the users :</h3>
    <form th:action="@{/manage/addtopic}"
          th:object="${topicForm}" method="POST">
        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <textarea name="content" class="form-control" th:field="*{content}" rows="5"></textarea>
                    <div th:if="${errorMsg != null}">
                        <span class="text-danger">(not null and 200 characters max)</span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" th:field="*{author}"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Publier</button>
                </div>
            </div>
        </div>
    </form>
    <h3>Administer users</h3>
    <table class="table table-hover">
    <thead>
    <tr>
        <th> User</th>
        <th> Status</th>
        <th> Block/Unblock</th>
        <th> More</th>
        <th> Promotion Application</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sporstman : ${allUsers}">
        <td><span th:text="${sporstman.getFirstName()}"> Title </span></td>
        <td>
            <span th:if="${sporstman.getBlocked()}" th:text="BLOCKED"></span>
            <span th:unless="${sporstman.getBlocked()}" th:text="Active"></span>
        </td>
        <td>
            <span th:if="${sporstman.getBlocked()}"><a
                    th:href="@{/manage/users/unblock(id=${sporstman.getId()})}">Unblock</a></span>
            <span th:unless="${sporstman.getBlocked()}"><a
                    th:href="@{/manage/users/block(id=${sporstman.getId()})}">Block</a></span>
        </td>
        <td><a th:href="@{/sportsman(id=${sporstman.getId()})}">Details</a></td>
        <td>
            <span th:if="${allCandidates.contains(sporstman)}"><a th:href="@{/manage/users/promote(id=${sporstman.getId()})}">Promote</a>/
            <a th:href="@{/manage/users/deniepromote(id=${sporstman.getId()})}">Refuse</a></span>
            <span th:unless="${allCandidates.contains(sporstman.getId())}"></span>
        </td>
    </tr>
    </tbody>
</table>
</div>
<!--
<th:block th:include="/footer"></th:block>
-->
</body>
</html>