<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<body>
<th:block th:include="/navbar"></th:block>
<h3>Manage the Level Setting</h3>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Place</th>
            <th scope="col">MaximumThreshold</th>
            <th scope="col">RatioPoints</th>
        </tr>
        </thead>
        <tbody th:each="level : ${activityLevels}">
        <th scope="row"></th>
        <td th:text="${level.getName()}"></td>
        <td th:text="${level.getPlace()}"></td>
        <td th:text="${level.getMaximumThreshold()}"></td>
        <td th:text="${level.getRatioPoints()}"></td>
        <td><a th:href="@{/manage/updatelevelform(id=${level.getId()})}">Update</a></td>
        </tbody>
    </table>

</div>
</body>
</html>