<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<body>
<th:block th:include="/navbar"></th:block>
<h3>Manage the Activity Setting</h3>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">MET</th>
        </tr>
        </thead>
        <tbody th:each="type : ${activityTypes}">
        <th scope="row"></th>
        <td th:text="${type.getName()}"></td>
        <td th:text="${type.getMet()}"></td>
        <td><a th:href="@{/manage/updatetypeform(id=${type.getId()})}">Update</a></td>
        </tbody>
    </table>
</div>
<p><a th:href="@{/manage/addtypeform}">Add</a></p>
</body>
</html>