<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Activity</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<body>
<th:block th:include="/navbar"></th:block>
<div class="pure-g">
    <div class="pure-u-1-6"></div>
    <div class="pure-u-2-3">
<form th:action="@{/saveEvent}"
      th:object="${activityForm}" method="POST" class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Create your Activity</legend>
        <div>
            <span class="text-danger" th:errors="*{global}"></span>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-2">
                <label>Name</label>
                <input class="pure-u-23-24" type="text" th:field="*{name}"/>
                <div>
                    <span class="text-danger" th:errors="*{name}"> </span>
                </div>
            </div>
                <div class="pure-u-1-2">
                    <label>When?</label>
                    <input class="pure-u-24-24" type="date" th:placeholder="${activityForm.getPlannedTo()}" th:field="*{plannedTo}"/>
                    <div>
                        <span class="text-danger" th:errors="*{plannedTo}"> </span>
                    </div>
                </div>
                <div class="pure-u-1-1">
                    <label>What do you plan?</label>
                    <textarea th:field="*{description}" class="pure-u-24-24"
                              rows="6"/></textarea>
                    <div>
                        <span class="text-danger" th:errors="*{description}"> </span>
                    </div>
                </div>
                <div class="pure-u-1-4">
                    <label>Activity</label>
                    <select class="pure-u-23-24" th:field="*{activity}">
                        <option th:each="type : ${allKinds}"
                                th:value="${type.getId()}"
                                th:utext="${type.getName()}">
                        </option>
                    </select>
                </div>
                <div class="pure-u-1-4">
                    <label>Minimum Level</label>
                    <select class="pure-u-23-24" th:field="*{minimumLevel}">
                        <option th:each="level : ${allLevels}"
                                th:value="${level.getId()}"
                                th:utext="${level.getName()}">
                        </option>
                    </select>
                    <div>
                        <span class="text-danger" th:errors="*{minimumLevel}"> </span>
                    </div>
                </div>
                <div class="pure-u-1-4">
                    <label>Maximum Level</label>
                    <select class="pure-u-23-24" th:field="*{maximumLevel}">
                        <option th:each="level : ${allLevels}"
                                th:value="${level.getId()}"
                                th:utext="${level.getName()}">
                        </option>
                    </select>
                    <div>
                        <span class="text-danger" th:errors="*{maximumLevel}"> </span>
                    </div>
                </div>
                <div class="pure-u-1-4">
                    <label>Duration</label>
                    <input class="pure-u-24-24" type="number" th:field="*{duration}">
                    <div>
                        <span class="text-danger" th:errors="*{duration}"> </span>
                    </div>
                </div>
            <div class="pure-u-1-1">
                <label>Hour?</label>
                <input class="pure-u-24-24" type="time" placeholder="12:00am" th:field="*{hour}"/>
                <div>
                    <span class="text-danger" th:errors="*{hour}"> </span>
                </div>
            </div>
            <div class="pure-u-1-4">
                <label>Number</label>
                <input class="pure-u-24-24" type="number" th:field="*{number}"/>
                <div>
                    <span class="text-danger" th:errors="*{number}"> </span>
                </div>
            </div>
            <div class="pure-u-1-4">
                <label>Street</label>
                <input class="pure-u-24-24" type="text" th:field="*{street}"/>
                <div>
                    <span class="text-danger" th:errors="*{street}"> </span>
                </div>
            </div>
            <div class="pure-u-1-4">
                <label>Postal Code</label>
                <input class="pure-u-24-24" type="number" th:field="*{postalCode}"/>
                <div>
                    <span class="text-danger" th:errors="*{postalCode}"> </span>
                </div>
            </div>
            <div class="pure-u-1-4">
                <label>City</label>
                <input class="pure-u-24-24" type="text" th:field="*{city}"/>
                <div>
                    <span class="text-danger" th:errors="*{city}"> </span>
                </div>
            </div>
            <div class="pure-u-1-4">
                <label>Country</label>
                <input class="pure-u-24-24" type="text" th:field="*{country}"/>
                <div>
                    <span class="text-danger" th:errors="*{country}"> </span>
                </div>
            </div>
                <div class="pure-u-1-1">
                <button class="pure-button pure-button" type="submit">Save</button>
                </div>
        </div>
    </fieldset>
</form>
    </div>
        <div class="pure-u-1-6"></div>
    </div>
</body>