<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/contentSetting.css}" href="../../css/contentSetting.css}" rel="stylesheet" type="text/css" media="all"/>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script></head>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
</script>
</head>
<body>
<th:block th:include="/navbar2"></th:block>
<div class="container">
    <h2 style="margin-top: 10%; margin-bottom: 2%;" th:text="${activity.getName()}"></h2>
    <div class="row" style="margin-bottom: 2%;">
        <div class="col-md-6">
            <h6 th:if="${activity.getOpen()}">ACTIVE</h6>
            <h6 th:unless="${activity.getOpen()}">CANCELLED</h6>
        </div>
        <!--Connecté-->
        <div class="col-md-6" sec:authorize="isAuthenticated()">
            <!--Ouvert-->
            <div  th:if="${activity.getOpen()}">
                <div th:if="${activity.checkLevel(sportsMan)}">
                    <!--Test déjà postulé à mettre en place!!-->
                    <div th:if="${activity.checkPresence(sportsMan)}">
                        <h6>Already Registered</h6>
                    </div>
                    <div th:unless="${activity.checkPresence(sportsMan)}">
                        <div th:if="${activity.checkApplication(sportsMan)}">
                            <h6>An application was sent; please wait for an answer.</h6>
                        </div>
                        <div th:unless="${activity.checkApplication(sportsMan)}">
                            <a th:href="@{/user/postulate(id=${activity.getId()})}">Apply</a>
                        </div>
                    </div>
                </div>
                <div th:unless="${activity.checkLevel(sportsMan)}">
                    <h6 th:if="${activity.getMinimumLevel().getPlace() > sportsMan.getLevel().getPlace()}">Unavailable : Too Low Level</h6>
                    <h6 th:unless="${activity.getMinimumLevel().getPlace() > sportsMan.getLevel().getPlace()}">Unavailable : Too High Level</h6>
                </div>
            </div>
            <!--Pas Ouvert-->
            <div th:unless="${activity.getOpen()}">
                <h6>Not Available</h6>
            </div>
        </div>
        </div>
    <hr>
    <h4 style="margin-bottom: 1%;">What?</h4>
    <div class="row" style="margin-bottom: 2%;">
        <div class="col-md-6">
            <h6 th:text="'Creator: ' + ${activity.getCreatorName()}"></h6>
        </div>
        <div class="col-md-6">
            <h6 th:text="'Kind of activity: ' + ${activity.getActivityName()}"></h6>
        </div>
        <div class="col-md-6">
            <h6 th:text="'Description: ' + ${activity.getDescription()}"></h6>
        </div>
    </div>
    <hr>
    <h4 style="margin-bottom: 1%;">When?</h4>
    <div class="row" style="margin-bottom: 2%;">
        <div class="col-md-6">
            <h6 th:text="'Date: ' + ${activity.getPlannedTo()}"></h6>
        </div>
        <div class="col-md-6">
            <h6 th:text="'Hour: ' + ${activity.getHour()}"></h6>
        </div>
    </div>
    <hr>
    <h4 style="margin-bottom: 1%;">Where?</h4>
    <div class="row" style="margin-bottom: 2%;">
        <div class="col-md-6">
            <h6 th:text="'Number: ' + ${activity.getAddress().getNumber()}"></h6>
        </div>
        <div class="col-md-6">
            <h6 th:text="'Street: ' + ${activity.getAddress().getStreet()}"></h6>
        </div>
        <div class="col-md-6">
            <h6 th:text="'City: ' + ${activity.getAddress().getCity()}"></h6>
        </div>
        <div class="col-md-6">
            <h6 th:text="'Country: ' + ${activity.getAddress().getCountry()}"></h6>
        </div>
    </div>
    <hr>
    <h4 style="margin-bottom: 1%;">Who?</h4>
    <div class="row" style="margin-bottom: 2%;">
        <div class="col-md-6">
            <h6 th:text="'Participants: ' + ${activity.getParticipants().size()}"></h6>
        </div>
        <div class="col-md-6">
            <h6 th:text="'Candidates: ' + ${activity.getCandidates().size()}"></h6>
        </div>
    </div>
    <hr>
    <h4 style="margin-bottom: 1%;">Comments</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th> Author</th>
            <th> Date</th>
            <th> Content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}">
            <td><span th:text="${comment.getAuthor().getFirstName()}"> Title </span></td>
            <td><span th:text="${comment.getDate()}"> Title </span></td>
            <td><span th:text="${comment.getContent()}"> Title </span></td>
        </tr>
        </tbody>
    </table>
    <a style="margin-bottom: 2%; margin-top: 2%;" th:href="@{/user/createcomment(id=${activity.getId()})}">Add Comment</a>
</div>
</body>
</html>