<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${activity.getName()}">Title</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">

</head>
<body>
<th:block th:include="/navbar"></th:block>
<h4>Name</h4>
<p th:text="${activity.getName()}"></p>
<h4>Kind of Activity</h4>
<p th:text="${activity.getActivityName()}"></p>
<h3>Participants</h3>
<p th:text="${activity.getRegistered().size()}"></p>
<a th:href="@{/factory/manageparticipants(id=${activity.getId()})}">Manage the Participants</a>
<h4>Creator</h4>
<p th:text="${activity.getCreatorName()}"></p>
<h3>Candidates</h3>
<p th:text="${activity.getCandidate().size()}"></p>
<a th:href="@{/factory/managecandidates(id=${activity.getId()})}">Manage the Candidates</a>
</form>
<span th:if="${activity.getOpen()}"><a th:href="@{/factory/cancel(id=${activity.getId()})}">Cancel</a></span>
<span th:unless="${activity.getOpen()}"><a th:href="@{/factory/active(id=${activity.getId()})}">Active</a></span>
<a th:href="@{/factory/activity/update(id=${activity.getId()})}">MaJ</a>
<h3>Comments</h3>
<h3>Historic</h3>
<table>
    <thead>
    <tr>
        <th> Author</th>
        <th> Date</th>
        <th> Content</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${comments}">
        <td><span th:text="${comment.getAuthor().getFirstName()}"> Title </span></td>
        <td><span th:text="${comment.getDate()}"> Title </span></td>
        <td><span th:text="${comment.getContent()}"> Title </span></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/createComment(id=${activity.getId()})}">Add Comment</a>
<a th:href="@{/factory/invitecontactpage(id=${activity.getId()})}">Invite Contact</a>
</body>
</html>