<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/contentSetting.css}" href="../../css/contentSetting.css}" rel="stylesheet" type="text/css" media="all"/>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script></head>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
</script>
</head>
<body>
<th:block th:include="/navbar2"></th:block>
<div class="container">
    <h3 style="margin-top: 5%; margin-bottom: 2%;">Manage your events</h3>
    <table class="table table-hover">
    <thead>
    <tr>
        <th> Name</th>
        <th> Activity type</th>
        <th> Registered</th>
        <th> Creator</th>
        <th> Status</th>
        <th> Close</th>
        <th> Settings</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${ownCreations}">
        <td><span th:text="${event.getName()}"> Title </span></td>
        <td><span th:text="${event.getActivityName()}"> Author </span></td>
        <td><span th:text="${event.getParticipants().size()}"> Author </span></td>
        <td><span th:text="${event.getCreatorName()}"> Author </span></td>
        <td>
            <span th:if="${event.getOpen()}">OPEN (<a th:href="@{/factory/cancel(id=${event.getId()})}">Cancel Activity</a>)</span>
            <span th:unless="${event.getOpen()}" th:text="CANCELLED"></span>
        </td>
        <td th:if="${event.getOpen()}">
            <span th:if="${event.getOver()}" th:text="CLOSE"></span>
            <span th:unless="${event.getOver()}"><a th:href="@{/factory/close(id=${event.getId()})}">Close</a></span>
        </td>
        <td><a th:href="@{/factory/ownactivity(id=${event.getId()})}">Details</a></td>
    </tr>
    </tbody>
</table>
</div>
<div sec:authorize="isAuthenticated()"></div>
<th:block th:include="/footer"></th:block>
</body>
</html>