<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/contentSetting.css}" href="../../css/contentSetting.css}" rel="stylesheet" type="text/css" media="all"/>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script></head>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
</script>
</head>
<body>
<th:block th:include="/navbar2"></th:block>
<div class="container">
<h4 style="margin-top: 5%; margin-bottom: 2%;">You have <span th:text="${peopleToMark.size()}"></span> to note.</h4>
<div th:each="user : ${peopleToMark}">
    <form form class="form-inline" th:action="@{/factory/noteuser(idActivity=${id},idUser=${user.getId()})}"
          th:object="${notationForm}" method="POST">
            <div class="col-md-3">
                <label>Cote for <span th:text="': ' +${user.getFirstName()}"></span></label>
            </div>
            <div class="col-md-3">
            <select th:field="*{notation}" class="form-control">
                <option value="0">Pas présent</option>
                <option value="0.3">Basique</option>
                <option value="0.5">Bien</option>
                <option value="0.7">Très Bien</option>
                <option value="1">Parfait</option>
            </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
    </form>
</div>
</div>
</body>
</html>