<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<body>
<th:block th:include="/navbar"></th:block>
<a th:href="@{/search}">Clear the Search</a>
<form th:action="@{/searchByFilter}"
      th:object="${searchActivityForm}" method="POST" class="pure-form pure-form-stacked">
    <div class="pure-g">
        <div class="pure-u-1-4">
            <label>Activity</label>
            <select class="pure-u-23-24" th:field="*{activity}">
                <option value="" selected> Activity Filter </option>
                <option th:each="type : ${allKinds}"
                        th:value="${type.getId()}"
                        th:utext="${type.getName()}">
                </option>
            </select>
        </div>
        <div class="pure-u-1-4">
            <label>Minimum Level</label>
            <select class="pure-u-23-24" th:field="*{minimumLevel}">
                <option value="" selected> Minimum Level Filter </option>
                <option th:each="level : ${allLevels}"
                        th:value="${level.getId()}"
                        th:utext="${level.getName()}">
                </option>
            </select>
        </div>
        <div class="pure-u-1-1">
            <button class="pure-button pure-button" type="submit">Save</button>
        </div>
    </div>
</form>
<table>
    <thead>
    <tr>
        <th> Name</th>
        <th> Kind</th>
        <th> Level</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${allEvents}">
        <td><span th:text="${event.getName()}"></span></td>
        <td><span th:text="${event.getActivityName()}"></span></td>
        <td><span th:text="${event.getMinimumLevel().getName()}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>