<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <title>Search</title>
    <link th:href="@{/css/contentSetting.css}" href="../../css/contentSetting.css}" rel="stylesheet" type="text/css" media="all"/>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script></head>
<link th:href="@{/https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap}" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
</script>
</head>
<body>
<th:block th:include="/navbar2"></th:block>
<div class="container">
    <h3>Your tastes</h3>
<form th:action="@{/searchbyfilter}"
      th:object="${searchActivityForm}" method="POST">
    <div class="form-group">
        <div class="form-row">
            <div class="form-group col-md-4">
            <label>Type</label>
            <select class="form-control" th:field="*{activity}">
                <option value="" selected> Activity Filter </option>
                <option th:each="type : ${allKinds}"
                        th:value="${type.getId()}"
                        th:utext="${type.getName()}">
                </option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>After..</label>
        <input class="form-control" type="date" th:field="*{date}"/>
            <div>
                <span class="text-danger" th:errors="*{date}"></span>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label>Minimum Duration</label>
            <input class="form-control" type="number" th:field="*{duration}">
            <div>
                <span class="text-danger" th:errors="*{duration}"></span>
            </div>
        </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
            <label>City</label>
            <input class="form-control" type="text" th:field="*{city}"/>
        </div>
        <div class="form-group col-md-4">
            <label>Minimum Level</label>
            <select class="form-control" th:field="*{minimumLevel}">
                <option value="" selected> Minimum Level Filter </option>
                <option th:each="level : ${allLevels}"
                        th:value="${level.getId()}"
                        th:utext="${level.getName()}">
                </option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Maximum Level</label>
            <select class="form-control" th:field="*{maximumLevel}">
                <option value="" selected> Maximum Level Filter </option>
                <option th:each="level : ${allLevels}"
                        th:value="${level.getId()}"
                        th:utext="${level.getName()}">
                </option>
            </select>
        </div>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
    <a th:href="@{/search}">Clear the Search</a>
    <h4 style="margin-top:2%;" th:text="'Matching ' + ${allEvents.size()} + ' activities :'"></h4>
    <table class="table table-hover">
    <thead>
    <tr>
        <th> Name</th>
        <th> Type</th>
        <th> Minimum Level</th>
        <th> Maximum Level</th>
        <th> Duration</th>
        <th> City</th>
        <th> Date</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${allEvents}">
        <td><span th:text="${event.getName()}"></span></td>
        <td>
            <span th:text="${event.getActivityName()}"></span>
        </td>
        <td><span th:text="${event.getMinimumLevel().getName()}"></span></td>
        <td><span th:text="${event.getMaximumLevel().getName()}"></span></td>
        <td><span th:text="${event.getDuration()}"></span></td>
        <td><span th:text="${event.getAddress().getCity()}"></span></td>
        <td><span th:utext="${#temporals.format(event.getPlannedTo(), 'dd-MM-yyyy')}"></span></td>
        <td sec:authorize="isAuthenticated()">
            <span th:if="${event.checkLevel(sportsMan)}" style="color: green">Open for you!!</span>
            <span th:if="${event.checkLevel(sportsMan)}" style="color: green">
                <a th:href="@{/activity(id=${event.getId()})}" th:text="Details"></a></span>
            <span th:unless="${event.checkLevel(sportsMan)}" style="color: red">Not Available</span>
        </td>
        <td sec:authorize="!isAuthenticated()">
                <a th:href="@{/activity(id=${event.getId()})}" th:text="Details"></a></span>
        </td>
    </tr>
    </tbody>
</table>
</div>
<!--
<th:block th:include="/footer"></th:block>
-->
</body>
</html>