<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/contentSetting.css}" href="../../css/contentSetting.css}" rel="stylesheet" type="text/css" media="all"/>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script></head>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
</script>
</head>
<body>
<th:block th:include="/navbar2"></th:block>

<div class="container">
    <h3 style="margin-top: 5%; margin-bottom: 2%;">New? Create an account!</h3>
    <form th:action="@{/saveUser}"
          th:object="${sportsManForm}" method="POST">
        <fieldset>
            <legend>Each field is necessary</legend>
            <div>
                <span class="text-danger" th:errors="*{global}"></span>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Lastname</label>
                        <input type="text" class="form-control" placeholder="" th:field="*{lastname}">
                        <div>
                            <span class="text-danger" th:errors="*{lastname}"> </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Firstname</label>
                        <input type="text" class="form-control" placeholder="" th:field="*{firstname}">
                        <div>
                            <span class="text-danger" th:errors="*{firstname}"> </span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Mail</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" th:field="*{mail}">
                        <div>
                            <span class="text-danger" th:errors="*{mail}"> </span>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Weight</label>
                        <input class="form-control" type="number" step="any" th:field="*{weight}">
                        <div>
                            <span class="text-danger" th:errors="*{weight}"> </span>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>BirthDate</label>
                        <input class="form-control" type="date" th:field="*{dateofBirth}">
                        <div>
                            <span class="text-danger" th:errors="*{dateofBirth}"> </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">About you :</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" th:field="*{description}"></textarea>
                    <div>
                        <span class="text-danger" th:errors="*{description}"> </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" th:field="*{password}">
                        <div>
                            <span class="text-danger" th:errors="*{password}"> </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Password" th:field="*{confirmPassword}">
                        <div>
                            <span class="text-danger" th:errors="*{confirmPassword}"> </span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </fieldset>
    </form>
</div>
</div>
</body>
</html>