<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/contentSetting.css}" href="../../css/contentSetting.css}" rel="stylesheet" type="text/css" media="all"/>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script></head>
<link th:href="@{/https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap}" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
</script>
</head>
<body>
<th:block th:include="/navbar2"></th:block>
<div class="container" style="margin-top: 10%;">
<form action="home" th:action="@{/signIn}" method="post">
    <fieldset>
        <div class="row justify-content-center">
            <div class="col-4">
        <legend>Select an account :</legend>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
    <div class="form-row" style="margin-bottom: 2%">
        <span th:if="${warning != null}" th:text="${warning}"></span>

        <label>Mail</label>
        <input type="email" class="form-control" name="username"
               placeholder="Email"/> <span
            class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
        </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
    <div class="form-row" style="margin-bottom: 2%">
        <label>Password</label>
        <input type="password" class="form-control" name="password"
               placeholder="Password"/> <span
            class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
    <div class="form-row">
        <label>
            <input type="checkbox" name="remember-me" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
        </label>
    </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
        <button type="submit" class="btn btn-primary">Connect</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
<!--
<th:block th:include="/footer"></th:block>
-->
</body>
</html>