
/*body{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url(pictures/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}*/

p,h5{
    color: red;
}

.navbar{
    background-color: #0b2e13;
}