<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<body>
<th:block th:include="/navbar"></th:block>
<h3>Find a Friend!!</h3>
<table>
    <thead>
    <tr>
        <th> User</th>
        <th> Status</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="sporstman : ${allUsers}">
        <td><span th:text="${sporstman.getFirstName()}"> Title </span></td>
        <td>
            <span th:if="${sporstman.getBlocked()}" th:text="BLOCKED"></span>
            <span th:unless="${sporstman.getBlocked()}" th:text="Active"></span>
        </td>
        <td><a th:href="@{/sportsMan(id=${sporstman.getId()})}">Details</a></td>
        <td><a th:href="@{/createMessage(id=${sporstman.getId()})}">Send Message</a></td>
    </tr>
    </tbody>
</table>
</body>