<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title th:if="${status} == 'sent'" th:text="'Sent Messages'">Title</title>
    <title th:unless="${status} == 'sent'" th:text="'Received Messages'">Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/contentSetting.css}" href="../../css/contentSetting.css}" rel="stylesheet" type="text/css" media="all"/>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script></head>
<link th:href="@{/https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap}" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
</script>
</head>
<body>
<th:block th:include="/navbar2"></th:block>
<div th:if="${blocked}">
    <h3 style="text-align: center; margin-top: 10%;">Sorry, your account is not available</h3>
</div>
<div th:unless="${blocked}">
<div th:if="${status} == 'sent'">
    <div class="container">
        <h3>Sent</h3>
        <table class="table table-hover">
    <thead>
    <tr>
        <th> About</th>
        <th> Receptor(s) </th>
        <th> Date</th>
        <th> Hour</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td><a th:href="@{/user/message(id=${message.getId()},send=${true})}" th:text="${message.getAbout()}"></a></td>
        <td>
            <span th:if="${message.getAddressees().size() > 1}" th:text="${message.getAddressees().size()}"> Title </span>
            <span th:unless="${message.getAddressees().size() > 1}" th:text="${message.getAddressees().get(0).getFirstName()}"> Title </span>
        </td>
        <td><span th:text="${#temporals.format(message.getTimeOfDispatch(),'dd/MM/yyyy')}"> Title </span></td>
        <td><span th:text="${#temporals.format(message.getTimeOfDispatch(),'HH:mm')}"> Title </span></td>
    </tr>
    </tbody>
</table>
    </div>
</div>
<div th:if="${status} == 'received'">
    <div class="container">
    <h3>Received</h3>
    <table class="table table-hover">
    <thead>
    <tr>
        <th> Author</th>
        <th> About</th>
        <th> Date</th>
        <th> Hour</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td><span th:text="${message.getAuthor().getFirstName()}"> Title </span></td>
        <td><a th:href="@{/user/message(id=${message.getId()},send=${false})}" th:text="${message.getAbout()}"></a></td>
        <td><span th:text="${#temporals.format(message.getTimeOfDispatch(),'dd/MM/yyyy')}"> Title </span></td>
        <td><span th:text="${#temporals.format(message.getTimeOfDispatch(),'HH:mm')}"> Title </span></td>
    </tr>
    </tbody>
</table>
</div>
</div>
<div class="container">
    <h6 style="margin-top: 2%;"><a th:href="@{/user/createMessage}">Write</a></h6>
</div>
<!--
<th:block th:include="/footer"></th:block>
-->
</div>
</body>
</html>