<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<body>
<th:block th:include="/navbar"></th:block>
<h3>Find a Friend!!</h3>
<table>
    <thead>
    <tr>
        <th> User</th>
        <th> Invite</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sportsman : ${contacts}">
        <td><span th:text="${sportsman.getFirstName()}"> Title </span></td>
        <div th:if="${!activity.checkPresence(sportsman)}">
        <td th:if="${activity.checkLevel(sportsman)}">
            <span><a th:href="@{/inviteUserToActivity(idActivity=${activity.getId()},idUser=${sportsman.getId()})}">Invite</a></span>
        </td>
        <td th:unless="${activity.checkLevel(sportsman)}">
            <span th:text="Level to low"></span>
        </td>
        </div>
        <div th:unless="${!activity.checkPresence(sportsman)}">
            <td><span>ALREADY REGISTERED</span></td>
        </div>
    </tr>
    </tbody>
</table>
</body>