<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link th:href="@{/css/contentSetting.css}" href="../../css/contentSetting.css}" rel="stylesheet" type="text/css" media="all"/>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script></head>
<link th:href="@{/https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap}" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
</script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous">
</script>
</head>
<body>
<th:block th:include="/navbar2"></th:block>
<div th:if="${all}">
    <div class="container">
        <h3>Find sportsman!</h3>
<form th:action="@{/sportsmenbyfilter}"
      th:object="${searchUserForm}" method="POST">
    <legend>Give a firstname and/or a lastname</legend>
    <div class="form-group">
        <div class="form-row">
        <div class="form-group col-md-5">
            <label>Firstname</label>
            <input type="text" class="form-control" th:field="*{firstName}"/>
        </div>
        <div class="form-group col-md-5">
            <label>Lastname</label>
            <input type="text" class="form-control" th:field="*{lastName}"/>
        </div>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
    </div>
    <div class="container" id="interval">
        <a th:href="@{/sportsmans}">Clear the Search</a>
    </div>
</div>
<div  class="container" th:if="${!all}">
    <h3 style="margin-top:5%; margin-bottom: 2%;">Find new friends</h3>
</div>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Level</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <div sec:authorize="isAuthenticated()">
            <th scope="col"></th>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sportsman : ${allUsers}">
            <div sec:authorize="isAuthenticated()">
            <div th:if="${sportsman.getId() != current.getId()}">
        <td><span th:text="${sportsman.getFirstName()}"></span></td>
            <td><span th:text="${sportsman.getLastName()}"></span></td>
            <td><span th:text="${sportsman.getLevel().getName()}"></span></td>
        <td>
            <span th:if="${sportsman.getBlocked()}" th:text="BLOCKED"></span>
            <span th:unless="${sportsman.getBlocked()}" th:text="Active"></span>
        </td>
        <td><a th:href="@{/sportsman(id=${sportsman.getId()})}">Details</a></td>
        <td>
            <div th:if="${!current.getBlocked()}">
             <span th:if="${current.hasContact(sportsman)}">Already your Friend</span>
            <span th:unless="${current.hasContact(sportsman)}"><a th:href="@{/user/addContact(id=${sportsman.getId()})}">Put in your Contacts list</a></span>
            </div>
        </td>
            </div>
            </div>
            <div sec:authorize="!isAuthenticated()">
                    <td><span th:text="${sportsman.getFirstName()}"></span></td>
                    <td><span th:text="${sportsman.getLastName()}"></span></td>
                    <td><span th:text="${sportsman.getLevel().getName()}"></span></td>
                    <td>
                        <span th:if="${sportsman.getBlocked()}" th:text="BLOCKED"></span>
                        <span th:unless="${sportsman.getBlocked()}" th:text="Active"></span>
                    </td>
                    <td><a th:href="@{/sportsman(id=${sportsman.getId()})}">Details</a></td>
            </div>
    </tr>
    </tbody>
</table>
</div>
<!--
<th:block th:include="/footer"></th:block>
-->
</body>
</html>